In [8]:
# Load the Pandas libraries with alias 'pd' 
import pandas as pd 
# Read data from file 'filename.csv' 
# (in the same directory that your python process is based)
# Control delimiters, rows, column names with read_csv (see later) 
df_kadaster = pd.read_csv('amsterdamzuid-klein.csv', index_col=False) 
# Preview the first 5 lines of the loaded data 
df_kadaster.columns =['id','perceelid', 'perceeltype', 'huisnr', 'huisnr_bag_letter','huisnr_bag_toevoeging','bag_nummeraanduidingid','bag_adresseerbaarobjectid','lat','lon','rdx','rdy','oppervlakte','gebruiksdoel','reeksid']
df_kadaster = df_kadaster.drop(['id'],axis=1)
df_kadaster = df_kadaster.set_index('perceelid')
df_kadaster.head()

,perceeltype,huisnr,huisnr_bag_letter,huisnr_bag_toevoeging,bag_nummeraanduidingid,bag_adresseerbaarobjectid,lat,lon,rdx,rdy,oppervlakte,gebruiksdoel,reeksid
perceelid,,,,,,,,,,,,,
307477,verblijfsobject,93,NaN,1,3.632000e+14,3.630100e+14,52.350966,4.897374,121626.0,484897.0,49,woonfunctie,14548
307478,verblijfsobject,93,NaN,2,3.632000e+14,3.630100e+14,52.350966,4.897374,121626.0,484897.0,53,woonfunctie,14548
307479,verblijfsobject,93,NaN,3,3.632000e+14,3.630100e+14,52.350966,4.897374,121626.0,484897.0,53,woonfunctie,14548
307480,verblijfsobject,93,NaN,H,3.632000e+14,3.630100e+14,52.350966,4.897374,121626.0,484897.0,53,woonfunctie,14548
307481,verblijfsobject,95,NaN,1,3.632000e+14,3.630100e+14,52.350985,4.897476,121633.0,484899.0,51,woonfunctie,14548

In [9]:
df_kadaster

,perceeltype,huisnr,huisnr_bag_letter,huisnr_bag_toevoeging,bag_nummeraanduidingid,bag_adresseerbaarobjectid,lat,lon,rdx,rdy,oppervlakte,gebruiksdoel,reeksid
perceelid,,,,,,,,,,,,,
307477,verblijfsobject,93,NaN,1,3.632000e+14,3.630100e+14,52.350966,4.897374,121626.000,484897.000,49,woonfunctie,14548
307478,verblijfsobject,93,NaN,2,3.632000e+14,3.630100e+14,52.350966,4.897374,121626.000,484897.000,53,woonfunctie,14548
307479,verblijfsobject,93,NaN,3,3.632000e+14,3.630100e+14,52.350966,4.897374,121626.000,484897.000,53,woonfunctie,14548
307480,verblijfsobject,93,NaN,H,3.632000e+14,3.630100e+14,52.350966,4.897374,121626.000,484897.000,53,woonfunctie,14548
307481,verblijfsobject,95,NaN,1,3.632000e+14,3.630100e+14,52.350985,4.897476,121633.000,484899.000,51,woonfunctie,14548
...,...,...,...,...,...,...,...,...,...,...,...,...,...
342098,verblijfsobject,58,NaN,3,3.632000e+14,3.630100e+14,52.346611,4.904833,122131.000,484409.000,57,woonfunctie,16302
342099,verblijfsobject,58,NaN,H,3.632000e+14,3.630100e+14,52.346611,4.904833,122131.000,484409.000,95,"woonfunctie,winkelfunctie",16302
8544776,verblijfsobject,50,NaN,H,3.632000e+14,3.630100e+14,52.346905,4.904709,122122.791,484441.732,104,winkelfunctie,16302
8544777,verblijfsobject,48,NaN,H,3.632000e+14,3.630100e+14,52.346974,4.904698,122122.106,484449.436,1888,winkelfunctie,16302
8544778,verblijfsobject,8,NaN,NaN,3.632000e+14,3.630100e+14,52.346974,4.904698,122122.106,484449.436,1888,winkelfunctie,16281

In [10]:
straal = 20

df = df_kadaster.copy()

for i, j in df.iterrows():
    rdx_punt = j[8]
    rdy_punt = j[9]

    rdx_min = rdx_punt - straal
    rdx_max = rdx_punt + straal
    rdy_min = rdy_punt - straal 
    rdy_max = rdy_punt + straal

    ##jel = ((df['rdx'] > rdx_min) & 
    ##            (df['rdx'] < rdx_max) & 
    ##            (df['rdy'] > rdy_min) &
     ##           (df['rdy'] < rdy_max)).sum()

    rslt_df = df[(df['rdx'] > rdx_min) &
               (df['rdx'] < rdx_max) &
              (df['rdy'] > rdy_min) &
              (df['rdy'] < rdy_max)]

    #print("Lat/lon: " + str(rdx_punt) + " / " + str(rdy_punt) + " == " + str(jel))
    jel = len(rslt_df.index)
    df.at[i,'Buren'] = jel
df

,perceeltype,huisnr,huisnr_bag_letter,huisnr_bag_toevoeging,bag_nummeraanduidingid,bag_adresseerbaarobjectid,lat,lon,rdx,rdy,...,342093,342094,342095,342096,342097,342098,342099,8544776,8544777,8544778
perceelid,,,,,,,,,,,,,,,,,,,,,
307477,verblijfsobject,93.0,NaN,1,3.632000e+14,3.630100e+14,52.350966,4.897374,121626.000,484897.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307478,verblijfsobject,93.0,NaN,2,3.632000e+14,3.630100e+14,52.350966,4.897374,121626.000,484897.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307479,verblijfsobject,93.0,NaN,3,3.632000e+14,3.630100e+14,52.350966,4.897374,121626.000,484897.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307480,verblijfsobject,93.0,NaN,H,3.632000e+14,3.630100e+14,52.350966,4.897374,121626.000,484897.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307481,verblijfsobject,95.0,NaN,1,3.632000e+14,3.630100e+14,52.350985,4.897476,121633.000,484899.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342099,verblijfsobject,58.0,NaN,H,3.632000e+14,3.630100e+14,52.346611,4.904833,122131.000,484409.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8544776,verblijfsobject,50.0,NaN,H,3.632000e+14,3.630100e+14,52.346905,4.904709,122122.791,484441.732,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8544777,verblijfsobject,48.0,NaN,H,3.632000e+14,3.630100e+14,52.346974,4.904698,122122.106,484449.436,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8544778,verblijfsobject,8.0,NaN,NaN,3.632000e+14,3.630100e+14,52.346974,4.904698,122122.106,484449.436,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Buren,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,33.0,33.0,33.0,33.0,29.0,29.0,29.0,24.0,23.0,23.0

In [1]:
df

NameError: name 'df' is not defined

In [12]:
df_dummy = pd.read_csv('dummy_def.csv',delimiter=';') 

df_dummy.tail()

,object_id,incident,nr_of_accomodations_in_building,nr_of_residential_accomodations_in_building,floorsize_accomodation,construction_year,timeline,function,situation,ownership,is_monument,neighborhood,nr_of_inspections_within_timeline,nr_of_inspections_with_observation,nr_of_inspections_without_observation
188803,82dc2820e82c5b79e6876209e83c802ac36fbf8d72b5f1...,0,4,0,415,1836,31/12/9999,Kantoor|Opslag/magazijn,Vrijstaand gebouw,Huur,1,Van der Pekbuurt,6,1,5
188804,91d8b28b71969b077b037223083a833f95d2f0a0e3c75e...,0,4,1,1507,1615,31/12/9999,Kantoor,Tussengebouw,Eigendom,0,Leliegracht e.o.,1,0,1
188805,1f44551055c236017d222f45189196ba7ab2bd2a0c38f7...,0,4,3,22194,1618,31/12/9999,Overige ruimten,Vrijstaand gebouw,Huur,0,Nieuwe Kerk e.o.,3,2,1
188806,f7897f3ba448a860eb0ee2909324d5dd5e20b1e863bd03...,0,26,25,36,1712,09/08/2013,Woning,Tussengebouw,Huur,0,Weesperbuurt,1,0,1
188807,f7897f3ba448a860eb0ee2909324d5dd5e20b1e863bd03...,0,22,10,25,1712,31/12/9999,Woning,Tussengebouw,Huur,0,Weesperbuurt,4,2,2