In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_excel('/Users/mariaahannach/Downloads/Supermarkten.xlsx')
df.tail()

             Supermarkt                Straat  Postcode code       Stad
177        Albert Heijn  Willem Kraanstraat 2      1063   MG  Amsterdam
178               Jumbo        Wisseloord 126      1106   MC  Amsterdam
179        Albert Heijn        Zeilstraat 47H      1075   SC  Amsterdam
180                Lidl     Zuideinde 278-282      1035   PM  Amsterdam
181  Albert Heijn to go          Zuidplein 24      1077   XV  Amsterdam

In [2]:
df1 = pd.read_excel('/Users/mariaahannach/Downloads/wijk.xlsx')
df1.tail()

          PC6  Postcode code  Buurt2020  Wijk2020  Gemeente2020
16378  1095AK      1095   AK    3633200     36332           363
16379  1095AL      1095   AL    3633200     36332           363
16380  1095AM      1095   AM    3633200     36332           363
16381  1095AN      1095   AN    3633200     36332           363
16382  1095AP      1095   AP    3633200     36332           363

In [3]:
df2 = pd.merge(df, df1, on='Postcode').drop_duplicates(subset=["Straat"])
df2.tail()

,Supermarkt,Straat,Postcode,code_x,Stad,PC6,code_y,Buurt2020,Wijk2020,Gemeente2020
49479,Troefmarkt,Stadionweg 247,1076,NX,Amsterdam,1076AA,AA,3634801,36348,363
49763,Albert Heijn to go,Termini 25,1022,LB,Amsterdam,1022AB,AB,3636103,36361,363
49845,Albert Heijn,Van Limburg Stirumstraat 44,1051,BC,Amsterdam,1051AA,AA,3631402,36314,363
50143,Albert Heijn,Westerstraat 79,1015,LW,Amsterdam,1015AA,AA,3630200,36302,363
50508,Jumbo,Westerstraat 98-102,1015,MN,Amsterdam,1015AA,AA,3630200,36302,363

In [4]:
df3 = pd.read_excel('/Users/mariaahannach/Downloads/brt2020.xlsx')
df3.tail()

,buurtcode2020,buurtnaam2020,GM_2020,GM2020,GM_NAAM,WK_2020,Wijk2020,WK_NAAM
13803,18590414,Ruurlo Centrum,GM1859,1859,Berkelland,WK185904,185904,Wijk 04 Ruurlo
13804,18590415,Haarskamp,GM1859,1859,Berkelland,WK185904,185904,Wijk 04 Ruurlo
13805,18590416,Leusinkbrink,GM1859,1859,Berkelland,WK185904,185904,Wijk 04 Ruurlo
13806,18590417,'t Loo,GM1859,1859,Berkelland,WK185904,185904,Wijk 04 Ruurlo
13807,18590418,Industrieterrein Ruurlo,GM1859,1859,Berkelland,WK185904,185904,Wijk 04 Ruurlo

In [5]:
df4 = pd.merge(df2, df3, on = "Wijk2020")
df4.tail()

,Supermarkt,Straat,Postcode,code_x,Stad,PC6,code_y,Buurt2020,Wijk2020,Gemeente2020,buurtcode2020,buurtnaam2020,GM_2020,GM2020,GM_NAAM,WK_2020,WK_NAAM
810,Troefmarkt,Stadionweg 247,1076,NX,Amsterdam,1076AA,AA,3634801,36348,363,3634801,Marathonbuurt Oost,GM0363,363,Amsterdam,WK036348,Stadionbuurt
811,Troefmarkt,Stadionweg 247,1076,NX,Amsterdam,1076AA,AA,3634801,36348,363,3634802,Marathonbuurt West,GM0363,363,Amsterdam,WK036348,Stadionbuurt
812,Troefmarkt,Stadionweg 247,1076,NX,Amsterdam,1076AA,AA,3634801,36348,363,3634803,Olympisch Stadion e.o.,GM0363,363,Amsterdam,WK036348,Stadionbuurt
813,Troefmarkt,Stadionweg 247,1076,NX,Amsterdam,1076AA,AA,3634801,36348,363,3634804,IJsbaanpad e.o.,GM0363,363,Amsterdam,WK036348,Stadionbuurt
814,Troefmarkt,Stadionweg 247,1076,NX,Amsterdam,1076AA,AA,3634801,36348,363,3634805,Van Tuyllbuurt,GM0363,363,Amsterdam,WK036348,Stadionbuurt

In [6]:
dff = df4.groupby(["buurtcode2020", "Wijk2020"]).Supermarkt.count().reset_index()
dff.tail()

     buurtcode2020  Wijk2020  Supermarkt
218        3639009     36390           2
219        3639100     36391           6
220        3639101     36391           6
221        3639102     36391           6
222        3639103     36391           6