In [16]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_excel('/Users/mariaahannach/Downloads/zorginstelling1.xlsx')
df.tail()

,Verzorghuizen,Straat,Pc6,Postcode,code,Stad
47,Schinkelhaven,Schinkelkade 69 - 1075VM,1075VM,1075,VM,Amsterdam
48,Leo Polakhuis,Saaftingestraat 8 - 1069BW,1069BW,1069,BW,Amsterdam
49,Eben Haezer,Wisseloord 219 - 1106MB,1106MB,1106,MB,Amsterdam
50,Gaasperdam,Soestdijkstraat 4 - 1107HG,1107HG,1107,HG,Amsterdam
51,De Venser,Berthold Brechtstraat 1 - 1102RA,1102RA,1102,RA,Amsterdam

In [17]:
df1 = pd.read_excel('/Users/mariaahannach/Downloads/wijk.xlsx')
df1.tail()

          PC6  Postcode code  Buurt2020  Wijk2020  Gemeente2020
16378  1095AK      1095   AK    3633200     36332           363
16379  1095AL      1095   AL    3633200     36332           363
16380  1095AM      1095   AM    3633200     36332           363
16381  1095AN      1095   AN    3633200     36332           363
16382  1095AP      1095   AP    3633200     36332           363

In [18]:
df2 = pd.merge(df, df1, on='Postcode').drop_duplicates(subset=["Straat"])
df2.tail()

,Verzorghuizen,Straat,Pc6,Postcode,code_x,Stad,PC6,code_y,Buurt2020,Wijk2020,Gemeente2020
11973,Bernardus,Nieuwe Passeerdersstraat 2 - 1016XP,1016XP,1016,XP,Amsterdam,1016AA,AA,3630201,36302,363
12309,Het Schouw,Th. Weeversweg 137 - 1025AX,1025AX,1025,AX,Amsterdam,1025AA,AA,3636912,36369,363
12702,Het Korthagenhuis,Amerbos 590 - 1025ZZ,1025ZZ,1025,ZZ,Amsterdam,1025AA,AA,3636912,36369,363
13095,Schinkelhaven,Schinkelkade 69 - 1075VM,1075VM,1075,VM,Amsterdam,1075AA,AA,3634602,36346,363
13383,Leo Polakhuis,Saaftingestraat 8 - 1069BW,1069BW,1069,BW,Amsterdam,1069AA,AA,3638200,36382,363

In [19]:
dff = df2.groupby(["Wijk2020","Postcode"]).Verzorghuizen.count().reset_index()
dff.tail()

    Wijk2020  Postcode  Verzorghuizen
25     36382      1069              1
26     36385      1065              2
27     36390      1081              2
28     36391      1082              1
29     36391      1083              2